DATABASE_URL=postgresql://postgres:postgres@localhost:5432/organizacija_dogodkov
JWT_SECRET=supersecret
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:4000